* {
  margin: 0;
  color: #1e2432;
  box-sizing: border-box;
}

body {
  background: url(https://images.unsplash.com/photo-1566667937341-0d579faa4597?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE0fHx3ZWF0aGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat;
  background-size: cover;
  height: 100%;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  padding: 7px;
  background: #fff;
}

button,
input {
  border: none;
  border-radius: 5px;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.weather-section {
  margin: 50px 0 20px;
}

.weather-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

/*CUSTOM VARIABLES HERE*/

.weather-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: rgb(221, 217, 217);
  color: #53627c;
}

.weather-section .city::after {
  content: ’’;
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

.weather-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.weather-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

.weather-section .city sup {
  font-size: 0.5em;
}

.weather-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

.weather-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1000px) { 
  .weather-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .weather-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {  
  .weather-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}